{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8 text-center">
        <h1>Imagenes con mostacho</h1>
        <p>Mucho mostacho</p>
    </div>
    <div class="col-2 text-center">
        <img src="https://programacion.net/files/article/20160322050344_handlebars.jpg" class="img-thumbnail w-100" alt="">
    </div>
</div>
{{> footer}}